@font-face {
  src: url("../font/pixel.ttf");
  font-family: pixel;
}

@font-face {
  src: url("../font/neuropol.ttf");
  font-family: neuropol;
}

@font-face {
  src: url("../font/guardians.ttf");
  font-family: guardians;
}

body {
  background: url("../image/wallpaper.jpg") no-repeat center fixed;
  background-size: cover;
}

header {
  text-align: center;
}

.carre {
  width: 42%;
  height: 30%;
  position: fixed;
  border-style: solid;
  border-color: #00fcff;
  color: white;
}

.carre-1-1 {
  top: 20%;
  left: 5%;
}

.carre-2-1 {
  top: 20%;
  right: 5%;
}

.carre-1-2 {
  bottom: 10%;
  left: 5%;
}

.carre-2-2 {
  bottom: 10%;
  right: 5%;
}

.carre-1-1:hover,
.carre-2-2:hover {
  background-color: #ff7200;
}

.carre-2-1:hover,
.carre-1-2:hover {
  background-color: #6b0853;
}

.cache {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s ease-in, opacity 1.5s ease-out;
}

.carre:hover .cache {
  visibility: visible;
  opacity: 1;
}

.non-cache {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-out;
  font-family: guardians;
  text-align: center;
}

.carre:hover .non-cache {
  top: 15%;
}

/* smartphone */

@media screen and (max-width: 480px) {
  .non-cache {
    font-size: 50%;
  }

  .carre:hover .non-cache {
    top: 20%;
  }
}

/* tablette */

@media screen and (max-width: 868px) {
  .non-cache {
    font-size: 70%;
  }
}

.menu {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.menu li {
  width: 200%;
  transform: translate(-25%, 0);
}

.menu a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 2px;
  border-style: double;
  font-family: pixel;
}

.carre-1-1 .menu a,
.carre-2-2 .menu a {
  background-color: #6b0853;
  border-color: #530740;
}

.carre-2-1 .menu a,
.carre-1-2 .menu a {
  background-color: #ff7200;
  border-color: #c25a06;
}

.carre-1-1 .menu a:hover,
.carre-2-2 .menu a:hover {
  background-color: #8a0a6b;
}

.carre-2-1 .menu a:hover,
.carre-1-2 .menu a:hover {
  background-color: #f78e39;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  color: white;
  text-shadow: 0 0 30px black;
  font-weight: bolder;
  font-family: neuropol;
}
