body {
  background-color: rgb(38, 38, 38);
}

.carre {
  background-image: linear-gradient(60deg, grey, black);
  width: 42%;
  height: 35%;
  position: fixed;
}

.carre:hover {
  background: #729ebf;
}

.carre-1-1 {
  top: 10%;
  left: 5%;
}

.carre-2-1 {
  top: 10%;
  right: 5%;
}

.carre-1-2 {
  bottom: 10%;
  left: 5%;
}

.carre-2-2 {
  bottom: 10%;
  right: 5%;
}

.cache {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.carre:hover .cache {
  visibility: visible;
  opacity: 1;
}

.non-cache {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s ease-out;
}

.carre:hover .non-cache {
  top: 10%;
}

.menu {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu a {
  display: block;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
