body {
  background: url("wallpaper.jpg") no-repeat center fixed;
  background-size: cover;
}

header {
  text-align: center;
}

.carre {
  background: linear-gradient(rgba(5, 205, 208, 1), rgba(6, 152, 154, 0.8), rgba(5, 205, 208, 1));
  width: 42%;
  height: 30%;
  position: fixed;
  border-style: solid;
  border-color: #00fcff;
  color: white;
}

.carre:hover {
  background: rgba(5, 205, 208, 1);
}

.carre-1-1 {
  top: 20%;
  left: 5%;
}

.carre-2-1 {
  top: 20%;
  right: 5%;
}

.carre-1-2 {
  bottom: 10%;
  left: 5%;
}

.carre-2-2 {
  bottom: 10%;
  right: 5%;
}

.cache {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s ease-in, opacity 1.5s ease-out;
}

.carre:hover .cache {
  visibility: visible;
  opacity: 1;
}

.non-cache {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-out;
}

.carre:hover .non-cache {
  top: 10%;
}

.menu {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.menu li {
  width: 200%;
  transform: translate(-25%, 0);
}

.menu a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #119119;
  text-align: center;
  margin: 2px;
  border-style: double;
  border-color: #f9d451;
}

.menu a:hover {
  background-color: #02ad05;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  text-shadow: 0 0 30px black;
  font-weight: bolder;
}
